#include "Default.xcconfig"

FLUTTER_FLAVOR=prd
PRODUCT_BUNDLE_IDENTIFIER=jp.ac.fun.dotto.prd
DISPLAY_NAME=Dotto Prd
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-prd
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.107577467292-872qsj4k4a4nef5u2jc71fcek9jbms3a
FIREBASE_DIR=$PROJECT_DIR/Firebase/prd
